# ignore some files that came with the HTML5up template
/LICENSE.txt
/README.txt

# general resources folder and folder used to link to documents via a OneDrive share
/other-resources/
/documents-to-share/

# show/hide the testing directory
/testing/
